/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #f2f2e7; /* Match palette_contorno */
  background-color: #1d1d1b; /* Match paleta_fundo */
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Canvas as background */
  display: block;
}





